@font-face {
  font-family: monasans;
  src: url(Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}
@font-face {
  font-family: visual-regular;
  src: url(WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}
@font-face {
  font-family: visual-semi;
  src: url(WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug * {
  outline: 1px solid red;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: monasans;
}

main,
header {
  width: 100%;
}

main {
  background: #fff;
  padding: 0.2rem 1rem;
}
main .hero {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
main .hero .hero-left,
main .hero .hero-right {
  flex: 1;
}
main .hero .hero-left {
  padding: 2rem 3.2rem;
}
main .hero .hero-left h1,
main .hero .hero-left h3 {
  color: #000;
}
main .hero .hero-left h1 {
  font-size: 3.3rem;
  font-weight: 600;
  line-height: 1;
}
main .hero .hero-left h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 1rem;
}
main .hero .hero-left .links {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.2rem;
  color: #000;
}
main .hero .hero-left .links a {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 600;
  color: #3A3546;
}
main .hero .hero-left .links a,
main .hero .hero-left .links a:visited,
main .hero .hero-left .links a:hover,
main .hero .hero-left .links a:active {
  color: #3A3546;
}
main .hero .hero-left .links .shots_link {
  color: #fff;
  background: #3A3546;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
}
main .hero .hero-left .links .shots_link a {
  color: #fff;
}
main .hero .hero-left .input-search-box {
  background-color: #f3f3f6;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  margin: 2rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
}
main .hero .hero-left .input-search-box input {
  background: transparent;
  border: none;
  width: 100%;
}
main .hero .hero-left .input-search-box i {
  background: #EC5E95;
  border-radius: 3rem;
  padding: 1rem;
}
main .hero .hero-left .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
main .hero .hero-left .tags h4 {
  font-size: 0.8rem;
}
main .hero .hero-left .tags h5 {
  font-weight: 300;
  border: 1px solid #dadadf;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
}
main .hero .hero-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
main .hero .hero-right video {
  width: 81%;
  border-radius: 1.5rem;
}
main .briefinfo {
  background: #F8F8FC;
  width: 100%;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}
main .briefinfo button {
  background: #fff;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  border: none;
  font-weight: bold;
  margin-right: 2rem;
}
main .briefinfo button i {
  color: #956bcd;
}
main .projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
main .projects .project-card {
  width: 100%;
  border-radius: 0.5rem;
}
main .projects .project-card img {
  width: 100%;
  border-radius: 0.5rem;
}
main .projects .project-card .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #9E9EA7;
}
main .projects .project-card .options .options-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
}
main .projects .project-card .options .options-left img {
  width: 2rem;
}
main .projects .project-card .options .options-left h4 {
  font-weight: 600;
  color: #16162B;
}
main .projects .project-card .options .options-left .tag {
  font-size: 0.7rem;
  font-weight: bold;
  background: #ecebf0;
  padding: 0.4rem 0.6rem;
  border-radius: 0.2rem;
  color: #524b63;
}
main .projects .project-card .options .options-left .tag:hover {
  background: #d8d6d5;
  cursor: pointer;
}
main .projects .project-card .options .options-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  height: 3.8rem;
  padding: 2.8rem 3.5rem;
  background: #fff;
}
header .header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.9rem;
  gap: 4rem;
}
header .header-left h1 {
  color: #000;
  font-size: 1.2rem;
}
header .header-left nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
header .header-left nav a {
  text-decoration: none;
  color: #000;
}
header .header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #000;
  font-weight: 600;
  font-size: 0.75rem;
}
header .header-right .login-link {
  background: #000;
  padding: 15px 1.5rem;
  color: #fff;
  border-radius: 25px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  height: 4rem;
}/*# sourceMappingURL=style.css.map */